<!-- Loop over each object in the 'Plants' array -->
<div class="row justify-content-center">
  <h2 class="page-header dark-grn text-center mt-4 py-2 col-9 col-sm-11 col-md-10 col-xxl-11">Community Posts</h2>
</div>
<div class="row justify-content-center">
  {{#each plants as |plant| }}
  <div class="card plant-card mt-4 mx-2 col-8 col-sm-5 col-md-3 col-xxl-2">
    <a class="card-header plant-card-header text-center light-grn" href="/plant/{{id}}">
      <h2 class="mb-0">{{name}}</h2>
    </a>
    <img src="/img/uploads/{{image}}" alt="image of a {{classification}} plant">
    <div class="bg-light p-0">
      <p class="card-text plant-card-classification mb-0">{{classification}}</p>
      <p class="card-text plant-card-user p-1"><small class="text-muted">Posted by: {{user.name}} on {{formatDate date_created}}</small></p>
    </div>
  </div>
  {{/each}}
</div>