<h2 class="text-dark text-center font-weight-bold mt-3">Hello {{name}}! Your Current Plants:</h2>
{{#if plants}}
{{#each plants as |plant|}}
<div class="card text-center mt-3 shadow box plant-card">
  <h2 class="mt-3 font-weight-bold">{{name}}</h2>
  <p class="px-3">{{classification}}</p>
  <p><small class="text-muted">Posted by: {{../name}} on {{formatDate date_created}}</small></p>
  <div class="plant-functions mb-3 d-flex justify-content-center">
    <button type="click" class="btn btn-primary update-btn mx-1" data-update="{{id}}" data-name="{{name}}" data-classification="{{classification}}">Update</button>
    <button type="click" class="btn btn-danger delete-btn mx-1" data-delete="{{id}}">Delete</button>
  </div>
</div>
{{/each}}
{{/if}}
<div class="d-flex justify-content-center my-3">
    <button type="click" class="btn btn-dark" id="new-plant-btn" style="display: flex">Add New Plant</button>
</div>

{{!-- Form for adding a new plant --}}
<div class="card p-3" id="new-plant-card" style="display: none">
    <form class="form" id="new-plant-form" action="/api/plants" enctype="multipart/form-data" method="post">
        <div>
            <label for="plant-name" class="form-label">Name of Plant:</label>
            <input class="form-control" id="plant-name" name="name"></input>
        </div>
        <div class="mt-3">
            <label for="plant-classification" class="form-label">Classification of Plant:</label>
            <input class="form-control" id="plant-classification" name="classification"></input>
        </div>
        <div class="mt-3">
            <span for="plant-image" class="form-label">Image of Plant:</span>
            <input type="file" class="form-control-file mt-2" id="img-upload" name="image">
        </div>
        <button type="submit" class="btn btn-dark mt-3" id="plant-submit-btn">Submit</button>
    </form>
</div>

{{!-- Form for updating an existing plant --}}
<div class="card p-3" id="update-plant-card" style="display: none">
    <form class="form my-3" id="update-plant-form">
        <div class="mt-3">
            <label for="plant-name" class="form-label">Name of Plant:</label>
            <input class="form-control" id="updated-name"></input>
        </div>
        <div class="mt-3">
            <label for="plant-classification" class="form-label">Classification of Plant:</label>
            <textarea class="form-control" id="updated-classification" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark mt-3" id="plant-update-btn">Submit</button>
    </form>
</div>

<script src="/js/profile.js"></script>